[package]
name = "kyron-testing-macros"
version.workspace = true
edition.workspace = true
authors.workspace = true
license-file.workspace = true

[lib]
proc-macro = true


[dependencies]
quote = "1.0"
syn = "2.0"
